@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.katex-html {
  display: none;
}

.markdown-body>* {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}


.markdown-body>section.footnotes>h2 {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

.markdown-body>section.footnotes>ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}